@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.PostViewModel>
@using System.Collections.Generic
@{
  Layout = "default.cshtml";
}

<div class="post">
    <h1 class="title">@Model.Title</h1>
    <div class="meta">
	<p class="posted">@Model.PostDate.ToString("dd MMM yyyy")</p>
        <ul class="categories">
        @foreach(var category in Model.Categories) {
          <li><a href="/category/@category.Url" title="@category">@category.Name</a></li>
        }
        </ul>
    </div><!--/.meta-->

    @Html.RenderSeries();

    @Html.Raw(Model.PostContent)

    @Html.RenderDisqusComments("*disqus id*")

</div><!--/.post-->
