@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.PostViewModel>
@using System.Collections.Generic
@{
  Layout = "default.cshtml";
}

<div class="post">
    <h1 class="title">@Model.Title <small>@Model.PostDate.ToString("dddddd, dd, MMM yyyy")</small></h1>

    @Html.RenderSeries()
        
    @Html.Raw(Model.PostContent)

    @Html.RenderDisqusComments("temporalcohesion")
</div><!--/.post-->
